:root {
  --primary-color: #cc091e;
  --secondary-color: #949494;
  --light-color: #ffffff;
  --dark-color: #343a40;
  --font-family: "arial", sans-serif;
  --font-color: #a3a19e;
  --font-size: 16px;
  --padding: 1rem;
  --link-color: #cc091e; /* Added variable for link color */
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--light-color);
  color: var(--dark-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  padding: var(--padding);
}

h5 {
  color: var(--primary-color);
  font-weight: bold;
}

p {
  color: var(--font-color);
  font-size: 20px;
  line-height: 33px;
}

.navbar {
  background-color: var(--light-color);
}

.navbar .nav-link {
  font-weight: bold; /* Make navbar links bold */
  color: var(
    --primary-color
  ) !important; /* Ensure navbar links use primary color */
}

.navbar .nav-link:hover {
  color: var(
    --secondary-color
  ) !important; /* Change color to secondary color on hover */
}

.not-bold-link {
  font-weight: normal; /* Ensure the link is not bold */
  color: var(--link-color);
  text-decoration: none; /* Optional: Remove underline */
}

.top-image {
  padding-top: 120px;
}

.impressum-text {
  text-align: justify;
  line-height: 33px;
}

.justify-none {
  text-align: left; /* Ensures text is not justified */
}
