:root {
  --primary-color: #d7241b;
  --secondary-color: #949494;
  --light-color: #ffffff;
  --dark-color: #343a40;
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --padding: 1rem;
  --link-color: #000000; /* Added variable for link color */
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--light-color);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color); /* Set link color to black */
}

footer {
  background-color: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  padding: var(--padding);
}

.navbar {
  background-color: var(--light-color);
}

.navbar-brand {
  color: var(--primary-color);
}

.navbar-toggler {
  border-color: var(--secondary-color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2868, 68, 68, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
